.parentlogin {
  display: flex;
  justify-content: end;
  margin-right: 20px;
  margin-top: 5px;
}

.parentsignup{
  display: flex;
  justify-content: end;
  margin-right: 20px;
  margin-top: 5px;
}

.adminlogin{
  display: flex;
  justify-content: end;
  margin-right: 20px;
  margin-top: 5px;
}

.home{
  display: flex;
  justify-content: end;
  margin-right: 20px;
  margin-top: 10px;
}

.banner-text{
  display:flex;
  justify-content: center;
}

.card-body{
  display: flex;
  justify-content: center;
}

.card-header{
  display: flex;
  justify-content: center;
}

.home-description{
  display: flex;
  justify-content: center;
}

