/* body {
    background-color: ;
} */

.card {
    box-shadow: -1px 1px black;
}

h4 {
    font-size: 25px;
}

.card-body {
    text-align: center;
} 

/* .form-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
} */

.btn {
    margin-top: 25px;
    margin-bottom: 10px;
}