body {
  background-color: black;
}

.card {
  box-shadow: -1px 1px black;
}

h4 {
  font-size: 25px;
}

.card-body {
  text-align: center;
}

.card-header {
  background-color: blue !important;
}

.btn {
  margin-top: 25px;
  margin-bottom: 10px;
}
